@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-image: url("./ocean.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  header, section, nav, ul, li, img, audio {

    width: 100%;
    max-width: 600px;
    margin: 30px 0;
    text-align: center;

  }
  header, section{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0 1px 12px rgba(0,0,0,0.25);
    border: 2px solid rgba(100, 100, 100, 0.3);
    border-radius: 20px;
  }
  img {
    max-width: 300px;
    border-radius: 100%;
  }
  a {
    color: #fff;
  }
  audio{
    width: 70%;
    color: black;
  }
  

  @media (max-width: 600px) {
    header h1 {
      font-size: 24px;
    }
    header h2 {
      font-size: 18px;
    }
  }
  